<%include partials/header.ejs%>
<div class="container">
  <div class="row">
    <div class="card  col-md-4" style="width: 18rem;">
      <img src="images.png" class="card-img-top" alt="images.png" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Seller 1
        </p>
        <a href="http://localhost:5000/deliver" class="btn btn-primary"
          >Deliver</a
        >
      </div>
    </div>
    <div class="card  col-md-4" style="width: 18rem;">
      <img src="images.png" class="card-img-top" alt="images.png" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Seller 2
        </p>
        <a href="http://localhost:5000/deliver" class="btn btn-primary"
          >Deliver</a
        >
      </div>
    </div>
    <div class="card  col-md-4" style="width: 18rem;">
      <img src="images.png" class="card-img-top" alt="images.png" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Seller 3
        </p>
        <a href="http://localhost:5000/deliver" class="btn btn-primary"
          >Deliver</a
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card  col-md-4" style="width: 18rem;">
      <img src="images.png" class="card-img-top" alt="images.png" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Seller 4
        </p>
        <a href="http://localhost:5000/deliver" class="btn btn-primary"
          >Deliver</a
        >
      </div>
    </div>
    <div class="card  col-md-4" style="width: 18rem;">
      <img src="images.png" class="card-img-top" alt="images.png" />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Seller 5
        </p>
        <a href="http://localhost:5000/deliver" class="btn btn-primary"
          >Deliver</a
        >
      </div>
    </div>
  </div>
</div>
